*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.main{
    height: 400vh;
}
.head{
    height: 70px;
}
.body{
    display: flex;
    height: 150vh;
    margin-left: 40px;
}
.column-left{
    height: 500px;
    width: 30%;
}
.first{
    margin-bottom: 20px;
}
.list{
    display: flex;
    font-size: 20px;
    padding: 8px 30px;
    border-radius: 10px;
    margin-top: 20px;
    color: black;
}
.list-of-information{
    height: 60px;
    width: 300px
}
.horizon{
    margin-left: 30px;
    height: 600px;
    border: 0.05px solid rgba(0, 0, 0, 0.1);
}
.column-right{
    height: 500px;
    width: 60%;
    float: right;
    margin-left: 25px;
}
.second{
    margin-bottom: 20px;
    display: flex;
}
p{
    font-size: 20px;
}
.list-of-information, .column-left, .first, h1, .body, .column-right, .second, p, .fill-in{
    border: none;
}
.fill-in{
    display: flex;
    margin-bottom: 30px;
}
input{
    display: flex;
    font-size: 20px;
    padding: 8px 30px;
    border-radius: 15px;
    margin-top: -10px;
    color: black;
}